.pet-card {
  border: 1px solid #ccc;
  padding: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pet-card:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.pet-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.pet-card__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
